<ion-header translucent>
  <ion-toolbar>
    <ion-icon name="close-circle-outline" slot="end" color="primary" (click)="dismissModal()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="userObject">

    <ion-row>
      <ion-col>
        <img src="assets/images/logo.png" id="logo-img">
      </ion-col>
    </ion-row>

    <ion-row class="top-2">
      <ion-col>
        <p>Confirma tus datos</p>
      </ion-col>
    </ion-row>

    <ion-item>
      <ion-label position="stacked">Nombre completo</ion-label>
      <ion-input disabled [(ngModel)]="userObject.email"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="stacked">Correo electrónicop</ion-label>
      <ion-input disabled [ngModel]="userObject.email"></ion-input>
    </ion-item>

    <ion-col size="9" class="top-2">
      <ion-button color="primary" (click)="confirmUserData()">Confirmar</ion-button>
    </ion-col>

  </ion-grid>
</ion-content>