<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>

    <ion-row>
      <ion-col>
        <img src="assets/images/logo.png" id="logo-img">
      </ion-col>
    </ion-row>

    <ion-row class="top-2">
      <ion-col>
        <p>Confirma tus datos</p>
      </ion-col>
    </ion-row>

    <ion-item>
      <ion-label position="stacked">Nombre completo</ion-label>
      <ion-input disabled [(ngModel)]="nameUser"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="stacked">Correo electrónicop</ion-label>
      <ion-input disabled [ngModel]="mailUser"></ion-input>
    </ion-item>

    <ion-col size="9" class="top-2">
      <ion-button color="primary" (click)="confirmUserData()">Confirmar</ion-button>
    </ion-col>

  </ion-grid>
</ion-content>