
<div *ngFor="let item of cartProducts" class="card-row">
  <ion-row class="contain-row">
    <ion-col size="2">
      <img [src]="item.product_image"/>
    </ion-col>
    <ion-col size="6">
      <ion-row>
        <span class="txt-prod">{{item.product_name}}</span>
      </ion-row>
      <ion-row>
        <span class="txt-col"> Color {{item.color.name}}</span>
      </ion-row>
    </ion-col>
    <ion-col size="3">
      <span class="txt-price"> $ {{item.product_price}}</span>
    </ion-col>
    <ion-col size="1" (click)="discardProductCart(item.id)">
      <ion-icon name="remove-circle-outline" color="secondary"></ion-icon>    
    </ion-col>
  </ion-row>
</div>
