<ion-content>

  <ion-grid>
    <section>
      <ion-row>
        <ion-col>
          <img src="assets/images/logo.png" id="logo-img">
        </ion-col>
      </ion-row>
    
      <ion-row>
        <ion-col>
          <img src="assets/images/welcome.png">
        </ion-col>
      </ion-row>
    </section>

    <ion-row>
      <span>Encuentra los <br> mejores audífonos</span>
    </ion-row>

    <ion-row>
      <span>
        Busca y adquiere los mejores audífonos de las mejores marcas al alcance de tu móvil.
      </span>
    </ion-row>

    <section>
      <ion-col size="10">
        <ion-button color="primary" (click)="viewedOnBoarding()">Comenzar</ion-button>
      </ion-col>
    </section>

  </ion-grid>

</ion-content>
