ion-button{
    --border-radius: 25px;
    width: 100%;
}
.pad-1{
    padding: 1em;
}
.top-1{
    margin-top: 1em;
}
.top-2{
    margin-top: 2em;
}
.mb-1{
    margin-bottom: 1em;
}
.ml-1{
    margin-left: 1em;
}
#logo-img{
    width: 10em;
}
.profile-pic{
    border-radius:150px;
    height:80px; 
    width:80px; 
}
.txt-gray-max{
    color: var(--ion-text-gray);
    // font-family: 'Raleway';
    // font-style: normal;
    font-weight: 700;
    font-size: 35px;
}
.txt-gray-min{
    color: var(--ion-text-gray);
    // font-family: 'Raleway';
    // font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

.txt-gray-title{
    font-weight: 500;
    font-size: 24px;
}

.flex{
    display: flex;
}
.jf-c{
    justify-content: center;
}
.ai-c{
    align-items: center;
}

.card-contain {
    background: #FFFFFF;
    border-radius: 16px 16px 0px 0px;
    bottom: 0;
    overflow: scroll;
    position: fixed;
    top: 10em;
    width: 100%;
    color: var(--ion-color-secondary);
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1);
}


.opennig {
    transform: translate(0, 10);
    transition: all 0.5s ease;
}
.closing {
    transform: translate(0, 25em);
    transition: all 0.5s ease;
}
