<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col>
        <img src="assets/images/logo.png" id="logo-img">
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <img [src]="picUrl" class="profile-pic">
      </ion-col>
    </ion-row>

    <ion-row>
      <span class="txt-gray-min">Bienvenido de vuelta, {{nameUser}}</span>
    </ion-row>

    <ion-col size="9">
      <ion-button color="primary" (click)="cardLoginModal()">Entrar</ion-button>
      <!-- <ion-button color="primary" (click)="openModal()">Entrar</ion-button> -->
    </ion-col>

    <ion-col size="9">
      <ion-button>Entrar como invitado</ion-button>
    </ion-col>

  </ion-grid>

</ion-content>
