<ion-content>

  <ion-grid class="top-5">
    <ion-row>
      <ion-col>
        <img src="assets/images/logo.png" id="logo-img">
      </ion-col>
    </ion-row>

    <ion-row class="top-2">
      <ion-col>
        <img [src]="picUrl" class="profile-pic">
      </ion-col>
    </ion-row>

    <ion-row>
      <span class="txt-gray-min">{{messageHome}} {{nameUser}}</span>
    </ion-row>

    <ion-col size="9" class="top-2">
      <ion-button color="primary" (click)="cardLoginModal()" *ngIf="isGuest === null || isGuest">Entrar</ion-button>
      <ion-button color="primary" (click)="goEntryAfterRegistry()" *ngIf="isGuest === false">Entrar</ion-button>
    </ion-col>

    <ion-col size="9" class="top-1">
      <ion-button (click)="accessAsGuest()">Entrar como invitado</ion-button>
    </ion-col>

  </ion-grid>

</ion-content>
