// ion-content{
//     --background: var(--ion-bgc-page);
// }
.contain-btn{
    display: flex;
    bottom: 2em;
    justify-content: center;
    position: fixed;
    width: 100%;
}

ion-button{
    width: 80% !important;
}

.cost-item{
    display: grid;
    justify-content: flex-end;
}

.underline{
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.opened-card {
    // transform: translate(0, 10);
    transition: all 0.5s ease;
}
.closed-card {
    transform: translate(0, 100%);
    transition: all 0.5s ease;
}

.card-resize{
    background: #FFFFFF;
    border-radius: 16px 16px 0px 0px;
    bottom: 0;
    overflow: scroll;
    position: fixed;
    top: 50%;
    width: 100%;
    color: var(--ion-color-secondary);
    box-shadow: 0px -5px 10px rgb(0 0 0 / 10%);
}

.pad-scrollin{
    padding-bottom: 100%;
}

.card-text{
    font-size: 14px;
    font-weight: bold;
}

.hidden-btn{
    bottom: 13%;
    margin-left: 70px;
    position: fixed;
    width: 100%;
}