.btn-add{
    background-color: var(--ion-color-primary);
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.opennig {
    transform: translate(0, 10);
    transition: all 0.5s ease;
}
.closing {
    transform: translate(0, 25em);
    transition: all 0.5s ease;
}
