ion-grid{
    margin-left: 10px;
    margin-right: 10px;
    padding: 0;
}
ion-col{
    padding: 0;
}

.opennig {
    transform: translate(0, 10);
    transition: all 0.5s ease;
}
.closing {
    transform: translate(0, 25em);
    transition: all 0.5s ease;
}

img{
    max-height: 90px;
    transform: rotate(20deg);
}

.row-details{
    display: none;
    &-active{
        display: block;
    }
}

.no-display{
    display: none;
}

.card-item-list{
    background-image: url('/assets/images/bg-card.png'); 
    background-position: center;
    background-repeat: no-repeat; 
    background-size: 50%;

    border-radius: 20px;
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 180px;
}

