
<ion-grid class="pad-1">
  <ion-col>
    <span class="txt-gray-title ml-1">Descubre</span>
  </ion-col>

  <ion-row>
    <ion-col size="6" class="pad-1" *ngFor="let item of productsData">        
      <ion-row >
        <div class="card-item" >

          <ion-row class="head-row mb-1">
            <ion-col size="9">
              <ion-row>
                <span class="txt-card-sub">{{item.brand}}</span>
              </ion-row>
              <ion-row>
                <span class="txt-card-title">{{item.product_name}}</span>  
              </ion-row>
            </ion-col>
            <ion-col size="3">
              <ion-icon name="heart-outline" style="font-size: x-large;;"></ion-icon>
            </ion-col>
          </ion-row>

          <ion-row class="mb-1" style="justify-content: center;">
            <img [src]="item.product_image" style="max-height: 8em;">
          </ion-row>

          <ion-row >
            <ion-col size="7">
              <ion-row>
                <span class="txt-card-price"> $ {{item.product_price}}</span>
              </ion-row>
              <ion-row style="padding-left: 0.5em;">
                <ion-icon name="star" color="warning"></ion-icon>
                <ion-icon name="star-half" color="warning"></ion-icon>
              </ion-row>
            </ion-col>
            <ion-col size="5" class="btn-add" (click)="addToCart()">
              <ion-icon name="add-outline"></ion-icon>
            </ion-col>
          </ion-row>
        </div>
      </ion-row>

    </ion-col>
  </ion-row>

</ion-grid>
