
<ion-grid  class="top-1">

  <ion-col>
    <span class="txt-gray-title ml-1">Descubre</span>
  </ion-col>

  <ion-row class="top-15 mb-2">
    <ion-col size="6" *ngFor="let item of productsData; let i = index">   

      <ion-row [ngClass]="{'no-display': i === detailIndex }">
        <div class="card-item-list m-10">

          <ion-row class="head-row">
            <ion-col size="9">
              <ion-row>
                <span class="txt-card-sub">{{item.brand}}</span>
              </ion-row>
              <ion-row>
                <span class="txt-card-title">{{item.product_name | slice:0:16}}</span>  
              </ion-row>
            </ion-col>
            <ion-col size="3">
              <ion-icon name="heart-outline" class="iconSize" *ngIf="!item.is_favorite"></ion-icon>
              <ion-icon name="heart" class="iconSize fill" *ngIf="item.is_favorite"></ion-icon>
            </ion-col>
          </ion-row>

          <ion-row class="jf-c" (click)="viewDetailPage(item)">
            <img [src]="item.product_image">
          </ion-row>

          <ion-row class="height-row">
            <ion-col size="8" class="col-down-align">
              <ion-row>
                <span class="txt-card-price"> $ {{item.product_price}}</span>
              </ion-row>
              <ion-row style="margin-left: 15px;">
                <ion-icon name="star" color="warning"></ion-icon>
                <ion-icon name="star-half" color="warning"></ion-icon>
              </ion-row>
            </ion-col>
            <ion-col size="4" class="btn-add" (click)="toogleDetails(i)">
              <ion-icon name="add-outline"></ion-icon>
            </ion-col>
          </ion-row>

        </div>
      </ion-row>

      <ion-row class="row-details" [ngClass]="{'row-details-active': i === detailIndex }">
        <div class="options-card m-10">
          <ion-row class="top-option-btn">
            <ion-col size="12" class="item-end" style="margin-right: 15px;">
              <svg (click)="toogleDetails(i)" width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg" >
                <circle cx="12.5" cy="12.5" r="12.5" fill="#C9C7C7" fill-opacity="0.2"/>
                <path d="M6.7625 8L12.5 13.7375L18.2375 8L20 9.775L12.5 17.275L5 9.775L6.7625 8Z" fill="#BDBCBC"/>
              </svg>
            </ion-col>
            <ion-col size="12" class="flex jf-c">
              <p>Agregar a favoritos</p>             
            </ion-col>
          </ion-row>

          <ion-row class="bottom-opt-btn" (click)="addToCart(item)">
            <span>Agregar al carrito</span>
          </ion-row>

        </div>
      </ion-row>

    </ion-col>
  </ion-row>

</ion-grid>
