
.icon-search{
    font-size: xx-large;
}

ion-chip{
    width: 86px;
    height: 22px;
    justify-content: center;
}

ion-grid{
    margin-left: 10px;
    margin-right: 10px;
    padding: 0;
}
ion-col{
    padding: 0;
}
img{
    max-height: 90px;
    transform: rotate(25deg);
}
